<span><md-icon>subdirectory_arrow_left</md-icon><a href=".">Placename search</a></span>

<article ng-controller="PlacenameShowController as ctrl" ng-show="p">

  <npdc:edit-button class="np-primary-control"></npdc:edit-button>

  <section>
    <md-card>
     <md-card-content>
       <header>
         <h1 class="md-display-2">{{ p.name["@value"]}}</h1>
         <p ng-if="p.relations.replaced_by">
           {{ p.status }} <span> {{ 'name'|t }} for: <span ng-repeat="r in p.relations.replaced_by"><a ng-href="{{ uuid(r['@id']) }}">{{ r.name }}</a> </span>
         </p>
       </header>

       <span ng-if="!p.relations.replaced_by">
         {{ p.status }} {{ 'name'|t }}
       </span>

     </md-card-content>
   </md-card>
  </section>

  <section>
    <md-card>
      <md-card-header>
        <md-card-avatar>
          <md-icon>text_fields</md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-headline">Texts</span>
          <span class="md-subhead">Definition and origin</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <p>{{ p.texts.definition | i18n }}
  <!--      <span ng-show="ctrl.translations('definition').length > 1">
          <md-button><md-icon>language</md-icon></md-button>
          {{ ctrl.translations('definition') | json }}
          {{ p.texts.definition | json }}
        </span>-->

        </p>

        <p>{{ p.texts.origin | i18n }}</p>

        <p>{{ p.properties.proposer }}</p>

        <p>{{ p.texts.note | i18n }}</p>


       <span>{{ p.terrain_type | i18n }}: {{ p.terrain | i18n }}</span>
       <span>[ {{ p.longitude}}, {{p.latitude}}, {{p.altitude||0}} ]</span>

      </md-card-content>
    </md-card>
  </section>

  <section>
    <md-card>
      <md-card-header>
        <md-card-avatar>
          <md-icon>link</md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-headline">Relations</span>
          <!--<span class="md-subhead">Historical variants, synonyms, etc.</span>-->
        </md-card-header-text>
      </md-card-header>
      <md-card-content>

        <p ng-if="ctrl.replaces"><b>Replaces</b> <span ng-repeat="r in ctrl.replaces"><a ng-href="{{ r.id }}">{{ r.name['@value'] }}</a> </span></p>

        <p ng-if="p.relations.same_as"><b>Same as</b> <span ng-repeat="r in p.relations.same_as"><a ng-href="{{ uuid(r['@id']) }}">{{ r.name }}</a> </span></p>

        <section ng-if="p.relations.name_committee_case">
          <p ng-repeat="case in p.relations.name_committee_case"><b>Sak</b> {{ case.label }}
        </section>

        <b>Authority</b> <span>{{ p.relations.authority['@id'] | i18n }}</span>

      </md-card-content>
    </md-card>
  </section>

  <section ng-if="p.properties">
    <md-card ng-if="p.properties.reference">
      <md-card-header>
        <md-card-avatar>
          <md-icon>account_balance</md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-headline">References</span>
          <span class="md-subhead">Name used, defined, or mentioned by</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content>
        <p ng-repeat="link in p.properties.reference">
          <!--<a ng-href="{{link}}" title="{{link}}">--><span>{{link}}</span><!--</a>-->
        </p>
      </md-card-content>
    </md-card>
  </section>

  <npdc:metadata document="p" resource="resource"></npdc:metadata>

</article>